<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>2</key>
		<string>高大山 13685293853</string>
		<key>1</key>
		<string>虹桥路1号港汇广场一号楼1103</string>
		<key>0</key>
		<string>上海市 徐汇区</string>
	</dict>
	<dict>
		<key>2</key>
		<string>马继祖 67723453-1</string>
		<key>1</key>
		<string>大吉路271号</string>
		<key>0</key>
		<string>上海市 黄浦区</string>
	</dict>
	<dict>
		<key>2</key>
		<string>孙宏坤 18974637284</string>
		<key>1</key>
		<string>仙霞路1139边门</string>
		<key>0</key>
		<string>上海市 长宁区</string>
	</dict>
	<dict>
		<key>2</key>
		<string>彭万里 15743284739</string>
		<key>1</key>
		<string>共和新路3009号 静安人民法院</string>
		<key>0</key>
		<string>上海市 静安区</string>
	</dict>
	<dict>
		<key>2</key>
		<string>冯兴国 65-234533-1 13748294412</string>
		<key>1</key>
		<string>铜川路1278号 普陀图书馆</string>
		<key>0</key>
		<string>上海市 普陀区</string>
	</dict>
	<dict>
		<key>2</key>
		<string>李厚福 18946372394</string>
		<key>1</key>
		<string>东体育会路359号 房产交易中心</string>
		<key>0</key>
		<string>上海市 虹口区</string>
	</dict>
	<dict>
		<key>2</key>
		<string>张成基 18897647893</string>
		<key>1</key>
		<string>黄兴路402-403 国税局</string>
		<key>0</key>
		<string>上海市 杨浦区</string>
	</dict>
	<dict>
		<key>2</key>
		<string>吴国梁 13184623419</string>
		<key>1</key>
		<string>一二八纪念路968号 万达广场</string>
		<key>0</key>
		<string>上海市 宝山区</string>
	</dict>
	<dict>
		<key>2</key>
		<string>吕文达 15893856212</string>
		<key>1</key>
		<string>博乐路45号 紫藤园</string>
		<key>0</key>
		<string>上海市 嘉定区</string>
	</dict>
	<dict>
		<key>2</key>
		<string>张广才 13748234752</string>
		<key>1</key>
		<string>翔峰路368弄 建设花园11号</string>
		<key>0</key>
		<string>上海市 松江区</string>
	</dict>
</array>
</plist>
