
# https://github.com/Alamofire/Alamofire
github "Alamofire/Alamofire" "5.0.0.beta.1"

# https://github.com/ReactiveX/RxSwift
github "ReactiveX/RxSwift" ~> 4.0

# https://github.com/robbiehanson/CocoaAsyncSocket
github "robbiehanson/CocoaAsyncSocket" "master"










